<div class="container">
  <% if mission.photos.attached? %>
    <%= cl_image_tag mission.photos.first.key, height: 80, width: 80%>
  <% end %>
  <h4><%= mission.name %></h4>
  <p><%= mission.address %></p>
</div>
