
<div class="fullscreen-bg">
    <video loop muted autoplay poster="<%= image_path "videoframe.png" %>" class="fullscreen-bg__video">
        <!-- <source src="video/big_buck_bunny.webm" type="video/webm"> -->
        <source src="https://res.cloudinary.com/dzao5ujoq/video/upload/v1598452416/work_zen_wkihnu.mp4" type="video/mp4">
      <!--   <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
    </video>
    <div class="text_banner">
      <h1>Une mission près de chez vous ?</h1>
      <p>Liberty au service des freelances du bien-être et de la beauté</p>
      <%= render 'shared/search' %>
    </div>
</div>


<div style = "background-color: #F9F9FC; padding-bottom: 50px">
  <div class = "t_container" style = "padding-bottom: 20px; padding-top: 20px">
     <div class = "d-flex justify-content-around align-items-center icons">
      <div class= "p-5" >
        <i class="fas fa-map-marker-alt"></i>
        <h3 class = "pt-2"> Près de chez vous</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
      </div>
      <div class= "p-5" >
        <i class="fas fa-clock"></i>
        <h3 class = "pt-2"> Un gain de temps au quotidien</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
      </div>
      <div class= "p-5" >
        <i class ="fas fa-address-book"></i>
        <h3 class = "pt-2"> Profils vérifiés</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
      </div>
    </div>
</div>

</div>
  <div style = "background-color: white; padding-top:50px">
     <h2 style = "text-align: center; font-weight:bold; padding-top:15px">Des missions qui vous correspondent</h2>
    <div class="container pb-5">
      <div id="carouselHomeContent" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active text-center p-4" >
                <div class="d-flex justify-content-around align-items-center pr-4 pl-4" >
                  <div class="card" style="width: 18rem;">
                    <div class="card-body" style = "position: relative">
                      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", style: "position: absolute; top:10px; left:10px", class: "avatar"%>
                      <h5 style = "text-align: left; padding-left:40px"><strong>Elisa</strong></h5>
                      <h6 class="card-subtitle mb-2 text-muted">Professeur de Yoga à Paris</h6>
                      <p class="card-text"> <i class="fas fa-quote-left"></i>  Some quick example text to build on the card title and make up the bulk of the card's content. <i class="fas fa-quote-right"></i></p>
                    </div>
                  </div>
                  <div style = "height: 230px">
                    <img src="https://www.doitinparis.com/files/2019/beaute/sport/yoga/04/cours-yoga/thumbs_facebook/cours-de-yoga-a-paris.jpg" alt="" width="500px">
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center p-4">
                <div class="d-flex justify-content-around align-items-center pr-4 pl-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body" style = "position: relative">
                      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", style: "position: absolute; top:10px; left:10px", class: "avatar"%>
                      <h5 style = "text-align: left; padding-left:40px"><strong>Elisa</strong></h5>
                      <h6 class="card-subtitle mb-2 text-muted">Professeur de Yoga à Paris</h6>
                      <p class="card-text"> <i class="fas fa-quote-left"></i>  Some quick example text to build on the card title and make up the bulk of the card's content. <i class="fas fa-quote-right"></i></p>
                    </div>
                  </div>
                  <div style = "height: 230px">
                    <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/beaute/massage/massage-pas-cher-paris/84831665-1-fre-FR/7-massages-pas-chers-a-Paris-pour-deconnecter.jpg" alt="" width="500px">
                 </div>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselHomeContent" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselHomeContent" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>


    <div class = "t_container border-top pt-5">
      <h3 style = "font-weight:bold"> Trouvez votre catégorie de métier</h3>

    <div class = "container d-flex justify-content-around pb-5 pt-3">
      <div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
      </div>
      <div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
      </div>
      <div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
        <div><a href="#"> Métier</a></div>
      </div>
    </div>
    </div>
  </div>


  <div id = "blog">
    <div class="t_container pt-5">
      <h2> Blog </h2>
    <div class='content'>
      <div class="cards">
        <% 3.times do %>
            <div class = "card-trip">
              <div style = "background-color: grey; height: 200px; width:100%;" ></div>
              <div class="card-trip-infos">
                <div>
                  <h4>< Info ></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem neque debitis enim nulla voluptates repudiandae recusandae rerum dolorem voluptatum? Error, dolores. Soluta inventore eum ipsa quae repellendus in aliquam odit!</p>
                  <div class="flexbox">
                  <p class="card-trip-pricing"> 14 € </p>
                  <h5> another info</h5>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
</div>
