<div class="dashboard-container">
  <% if @user.role == "freelancer" %>
    <%= render 'freelancerdashboard'%>
  <% elsif @user.role == "company" %>
    <%= render 'companydashboard'%>
  <% end %>
</div>
