.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #15353D;
  transition: background 0.3s ease;
  margin-bottom:6em !important
}

.btn-flat:hover {
  background: #3F6E74;
  color: white;
}

.btn-ok {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #15353D;
  transition: background 0.3s ease;
  padding: 8px 24px!important;
}

.btn-ok:hover {
  background: #3F6E74;
  color: white;
}


.btn-new-mission{
  color: white !important;
  padding: 10px 20px;
  margin-top:10px;
  border-radius: 4px;
  background-color: rgba(115, 163, 165,0.8);
  transition: background 0.3s ease;
  padding: 8px 20px!important;
  font-weight:bold;
  // float: right;
}

.btn-new-mission:hover {
  color: white;
  background-color: rgba(115, 163, 165,1);
}

.activebutton {
  color: white;
  background-color: rgba(115, 163, 165,1);
}


.btn-no {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #D56666;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width:170px;
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
  background-color: #AED5D4;

}

.ghost-active {
  opacity: 1;
  color: black;
  background-color: #AED5D4;
}

.ghost-active {
  opacity: 1;
  color: black;
}

.btn-dark {
padding: 8px 24px!important;
}

.btn-second{
  padding: 8px 24px!important;
  color: #15353D;
  padding: 0px 24px;
  border-radius: 4px;
  background: transparent;
  border-color: #15353D;
}

.btn-danger {
  color: white !important;
  padding: 0px 24px;
  border-radius: 4px;
  background: #EC8384;
  transition: background 0.3s ease;
  padding: 8px 24px!important;
}

.btn-danger:hover {
  background: white;
  color: #EC8384 !important;;
}


.btn-category {
  color: #white !important;
  border: 1px solid #73A3A5;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.85;
  width:200px;
  background-color:#73A3A5;

}

.btn-category:hover {
  background: white;
  color : #73A3A5 !important;
  border: 1px solid #73A3A5;
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
}

.custom-btn-row {
  position: relative;
  height: 40px;
  padding-top: 20px;
}
