.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #15353D;
  transition: background 0.3s ease;
  margin-bottom:6em !important
}

.btn-flat:hover {
  background: #3F6E74;
  color: white;
}

.btn-ok {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #15353D;
  transition: background 0.3s ease;
  padding: 8px 24px!important;
}

.btn-ok:hover {
  background: #3F6E74;
  color: white;
}

.btn-no {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #D56666;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width:150px
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
}

.active {
  opacity: 1;
  color: black;
}

.btn-dark {
padding: 8px 24px!important;
}

.btn-second{
  padding: 8px 24px!important;
  color: #15353D;
  padding: 0px 24px;
  border-radius: 4px;
  background: transparent;
  border-color: #15353D;
}

.btn-danger {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #EC8384;
  transition: background 0.3s ease;
  padding: 8px 24px!important;
}

.btn-danger:hover {
  background: white;
  color: #EC8384;
}


.btn-category {
  color: #15353D;
  border: 1px solid #73A3A5;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  width:200px;
  background-color:#73A3A5;

}

.btn-category:hover {
  color: #15353D;
  background: white;
  border: 1px solid #73A3A5;
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
}
