.card-product {
  overflow: hidden;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom : 30px;
  padding: 10px;
  font-family: "Nunito";
  color : rgb(30,30,30);
  margin-left:auto;
  margin-right:auto;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 14px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-information  {
  display: flex;
  justify-content: space-between;
}

.card-user {
  display: flex;
}

.card-user img{
  width: 50px;
  height: 50px
}

.card-user-infos{
  margin-left: 10px
}

.card-user-infos p {
  margin-left: 13px
}

#date {
  margin-top: 15px;
  margin-bottom: 5px


}

.card-description {


}

.card-description img {
  object-fit: contain;
  width: 150px;
  margin-top: 10px;
  border-radius: 4px

}

.card-description p {
  font-size: 14px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-ok {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-no {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: #A63630;
  transition: background 0.3s ease;
}


.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

