.t_container {
  margin-left: 10em;
  margin-right: 10em;
}

.small-container {
  margin-left: 21em;
  margin-right: 21em;
}

.blog_container {
  // display: flex;
  // justify-content: space-between;
  margin: 30px, 30px;
}

.big-blog-container {
  background-color: #ECECF0;
}
