.t_container {
  margin-left: 10em;
  margin-right: 10em;
}

.small-container {
  margin-left: 21em;
  margin-right: 21em;
}

.blog_container {
  // display: flex;
  // justify-content: space-between;
  margin: 30px, 30px;
}

.big-blog-container {
  background-color: #FFFFFF;
  color : #15353D;
}
.big-blog-container h2{
  color: #375556;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.28);
  margin-bottom: 15px;
}

.dashboard-container{
  margin: 5%;
}

.show_mission-container {
  margin: 15%;
}

.search_home_container {
  padding-top: 20px;
}

.container_search_index{
 padding-top: 20px;
}
