.footer {
  background: #F9F9FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: rgba(0,0,0,0.3);
  // padding: 70px;
  background-color: #F9F9FC;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

