.search {
  margin-top: 50px;
  padding-top: 30px;
}

.float-container {
  padding: 0px;
  position: relative;
  margin-left: 0%;
}

.float-container input {
  background-color: #F9F9FC;
  font-size: 12px;
  padding: 20px 10px 15px;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  height:65px !important;
  border-right-style: none;
  color:grey
}



#left-corner-input {
  border-radius: 15px 0px 0px 15px;
  margin-left: 0px !important;
  min-width: 150px;

}

#address-input {
  width: 200px;
}


#search-btn {
  background-color:#F9F9FC;
  border: 1px solid #ced4da;
  border-radius: 0px 15px 15px 0px;
  margin-left: -1px !important;
  height:65px;
  font-size: 20px;
  width:50px
}




.float-container label {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  padding-left: 10px;
  width:150px
}



@media (max-width: 800px) {
  .inline input {
    margin: 5px 0;
    border-radius: 15px 15px 15px 15px !important;
    height: 48px

  }

  .inline {
    flex-direction: column;
    align-items: stretch;
  }

  label {
    padding-top: 7px;
  }

}
