.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
margin-bottom: 50px;
margin-top: 50px;
letter-spacing: .2rem;
margin-left: 0px;
color:#15353D;
font-size: 38px;
}
