.carousel-indicators  {
  bottom: 3em;
}

.carousel-indicators .active {
  background-color: #white;
}

#star {
  font-size:11px
}

.map-show{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a{
  color:#3F6E74;
}

a:hover {
  color:#73A3A5;
}
