<div class="new-mission-container">
  <div class="card-product">
    <h2  class="pb-3">Ajouter une mission</h2>
    <div class="form-inputs-new-missions">
  <%= simple_form_for(@mission) do |f| %>
    <%= f.input :name, as: :text, required: false, label: "Nom de la mission"  %>
    <%= f.input :description,  as: :text, required: false, label: "Description de la mission" %>
    <%= f.submit "Créer la mission", class: "btn btn-danger", style:"float: right", onclick:"return confirm('Êtes-vous sûr ?')"%>
  <% end %>
    </div>
  </div>
</div>
