<div class = "t_container">

    <div class ="row">
      <div class = "col-lg-6">
      </div>

      <div class='col-lg-6 justify-content-center'>
        <div class= "margin-t">

          <div class = "d-flex justify-content-between border-bottom">
            <h1></h1>
          </div>

              <div id = "price" class ="d-flex">
                <h2>€</h2>
                <p>  /day</p>
            </div>
            <div>
              <h3> Description :</h3>

              <h4 class= "margin-t">Le commentaire du gamer</h4>
              <p><1></p>

            </div>
    </div>
    </div>
  </div>



<div class="review">
  <div class = "card-product">
        <ul class = "no-li-style">

        </ul>
         <div class = "avatar_review"  >
                  <div class="card-user-infos">
      </div>
</div>


 </div>
</div>
